WcfServiceLibrary1/MonitorGUI/Connected Services/ServiceReference1/MonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MonitorService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MonitorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MonitorService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitorService_NbRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:NbRequest" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_NbRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:NbRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_AverageExecTime_InputMessage">
    <wsdl:part name="parameters" element="tns:AverageExecTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_AverageExecTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:AverageExecTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getCityCacheRefreshTime_InputMessage">
    <wsdl:part name="parameters" element="tns:getCityCacheRefreshTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getCityCacheRefreshTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCityCacheRefreshTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_setCityCacheRefreshTime_InputMessage">
    <wsdl:part name="parameters" element="tns:setCityCacheRefreshTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_setCityCacheRefreshTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:setCityCacheRefreshTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getStationCacheRefreshTime_InputMessage">
    <wsdl:part name="parameters" element="tns:getStationCacheRefreshTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getStationCacheRefreshTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationCacheRefreshTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_setStationCacheRefreshTime_InputMessage">
    <wsdl:part name="parameters" element="tns:setStationCacheRefreshTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_setStationCacheRefreshTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:setStationCacheRefreshTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getMaxExecTime_InputMessage">
    <wsdl:part name="parameters" element="tns:getMaxExecTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getMaxExecTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMaxExecTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getMinExecTime_InputMessage">
    <wsdl:part name="parameters" element="tns:getMinExecTime" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getMinExecTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMinExecTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getUrlList_InputMessage">
    <wsdl:part name="parameters" element="tns:getUrlList" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getUrlList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUrlListResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getCityCacheRefresh_InputMessage">
    <wsdl:part name="parameters" element="tns:getCityCacheRefresh" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getCityCacheRefresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCityCacheRefreshResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getStationCacheRefresh_InputMessage">
    <wsdl:part name="parameters" element="tns:getStationCacheRefresh" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_getStationCacheRefresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationCacheRefreshResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitorService">
    <wsdl:operation name="NbRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/NbRequest" message="tns:IMonitorService_NbRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/NbRequestResponse" message="tns:IMonitorService_NbRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AverageExecTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/AverageExecTime" message="tns:IMonitorService_AverageExecTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/AverageExecTimeResponse" message="tns:IMonitorService_AverageExecTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCityCacheRefreshTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/getCityCacheRefreshTime" message="tns:IMonitorService_getCityCacheRefreshTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/getCityCacheRefreshTimeResponse" message="tns:IMonitorService_getCityCacheRefreshTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setCityCacheRefreshTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/setCityCacheRefreshTime" message="tns:IMonitorService_setCityCacheRefreshTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/setCityCacheRefreshTimeResponse" message="tns:IMonitorService_setCityCacheRefreshTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStationCacheRefreshTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/getStationCacheRefreshTime" message="tns:IMonitorService_getStationCacheRefreshTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/getStationCacheRefreshTimeResponse" message="tns:IMonitorService_getStationCacheRefreshTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setStationCacheRefreshTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/setStationCacheRefreshTime" message="tns:IMonitorService_setStationCacheRefreshTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/setStationCacheRefreshTimeResponse" message="tns:IMonitorService_setStationCacheRefreshTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMaxExecTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/getMaxExecTime" message="tns:IMonitorService_getMaxExecTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/getMaxExecTimeResponse" message="tns:IMonitorService_getMaxExecTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMinExecTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/getMinExecTime" message="tns:IMonitorService_getMinExecTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/getMinExecTimeResponse" message="tns:IMonitorService_getMinExecTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUrlList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/getUrlList" message="tns:IMonitorService_getUrlList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/getUrlListResponse" message="tns:IMonitorService_getUrlList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCityCacheRefresh">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/getCityCacheRefresh" message="tns:IMonitorService_getCityCacheRefresh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/getCityCacheRefreshResponse" message="tns:IMonitorService_getCityCacheRefresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStationCacheRefresh">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/getStationCacheRefresh" message="tns:IMonitorService_getStationCacheRefresh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/getStationCacheRefreshResponse" message="tns:IMonitorService_getStationCacheRefresh_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonitorEndpoint" type="tns:IMonitorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NbRequest">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/NbRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AverageExecTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/AverageExecTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityCacheRefreshTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/getCityCacheRefreshTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCityCacheRefreshTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/setCityCacheRefreshTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationCacheRefreshTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/getStationCacheRefreshTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setStationCacheRefreshTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/setStationCacheRefreshTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxExecTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/getMaxExecTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMinExecTime">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/getMinExecTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUrlList">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/getUrlList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityCacheRefresh">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/getCityCacheRefresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationCacheRefresh">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/getStationCacheRefresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorService">
    <wsdl:port name="MonitorEndpoint" binding="tns:MonitorEndpoint">
      <soap:address location="http://localhost:8732/MonitorService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>