WcfServiceLibrary1/Client_IWS/Connected Services/ServiceReference1/BikeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BikeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BikeService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/BikeService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BikeService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBikeService_ListStation_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStation" />
  </wsdl:message>
  <wsdl:message name="IBikeService_ListStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStationResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeService_AvailableBike_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableBike" />
  </wsdl:message>
  <wsdl:message name="IBikeService_AvailableBike_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableBikeResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeService_ListCity_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCity" />
  </wsdl:message>
  <wsdl:message name="IBikeService_ListCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCityResponse" />
  </wsdl:message>
  <wsdl:portType name="IBikeService">
    <wsdl:operation name="ListStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/ListStation" message="tns:IBikeService_ListStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeService/ListStationResponse" message="tns:IBikeService_ListStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailableBike">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/AvailableBike" message="tns:IBikeService_AvailableBike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeService/AvailableBikeResponse" message="tns:IBikeService_AvailableBike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/ListCity" message="tns:IBikeService_ListCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeService/ListCityResponse" message="tns:IBikeService_ListCity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseEndpoint" type="tns:IBikeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListStation">
      <soap:operation soapAction="http://tempuri.org/IBikeService/ListStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableBike">
      <soap:operation soapAction="http://tempuri.org/IBikeService/AvailableBike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCity">
      <soap:operation soapAction="http://tempuri.org/IBikeService/ListCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BikeService">
    <wsdl:port name="BaseEndpoint" binding="tns:BaseEndpoint">
      <soap:address location="http://localhost:8732/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>